@import "tailwindcss";

:root {


  background:
    /* base grassy green */
    linear-gradient(0deg, #2e8720, #3a9d23),

    /* subtle noise speckles */
    radial-gradient(#2f7f1c 1px, transparent 1px),
    radial-gradient(#3c9e28 1px, transparent 1px);

  background-size:
    cover,
    /* gradient covers screen */
    3px 3px,
    /* first noise layer */
    5px 5px;
  /* second noise layer */

  background-blend-mode: overlay;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {

    background:
      /* base grassy green */
      linear-gradient(0deg, #2e8720, #3a9d23),

      /* subtle noise speckles */
      radial-gradient(#2f7f1c 1px, transparent 1px),
      radial-gradient(#3c9e28 1px, transparent 1px);

    background-size:
      cover,
      /* gradient covers screen */
      3px 3px,
      /* first noise layer */
      5px 5px;
    /* second noise layer */

    background-blend-mode: overlay;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}